@import url('https://fonts.googleapis.com/css2?family=Spartan:%20wght@100;200;%20300;%20400;%20500;%20600;%20700;%20800;900&display=swap');
* {
    margin:auto;
    padding: initial;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    font-size: 57px;
    line-height: 64px;
    color: #ffffff;
    
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
    
}

h4 {
    font-size: 30px;
    color: #222;
    
}

h6 {
    font-weight: 700;
    font-size: 12px;  
}

p {
    font-size: 20px;
    color:#465b52;
    margin: 1% 10%;
}


body {
    width: 100%;
}

/*Header Start*/


#header {
  position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    background: rgb(68,3,3);
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
}

nav img {
    display: flex;
    height: 60px;
    margin-left: 20px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  color: #ffff;
  transition: 0.3s ease;
  text-transform: uppercase;
}

#navbar li a:hover,
#navbar li a.active {
  color: rgb(249,174,59);

}
#navbar li a.active::after,
#navbar li a::after {
  content: "";
  width: 0;
  height: 2px;
  background: rgb(255, 255, 255);
  position: absolute;
  bottom: -7px;
  left: 20px;
  transition: 0.5s;
}
#navbar li a.active::after,
#navbar li a:hover::after {

  width: 70%;

}
#bar{
  color: #fefefe;
  font-size: 24px;
}

#mobile {
  display: none;
  align-items: center;
}
/* end of Header*/

* {box-sizing:border-box}

/* Slideshow container */
#image {
  height: 80vh;
  background-position-x: bottom;
  background-size: cover;
  position: relative;
  align-items: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(180deg,rgb(53, 2, 2) 20%,rgba(14, 14, 15, 0.61) 100%),url(http://ub.edu.ph/sites/all/themes/simplecorp/images/aboutimg/lipa.jpg);
} 

.ml12 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}

#communityConnectText {
  position: absolute;
  top: calc(75% + 1em); /* Position below the .ml12 class */
  left:40%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: #fefefe;
}


/*About page: Mission vision*/
#about {
  text-align: center;
}

.section-p1 {
  text-align: center;
    padding: 40px 80px;
}

#left-aligned-heading {
  text-align: left; /* Left align the "Our Goals" heading */
  margin-left: 10%; /* Add left margin to create space on the left corner */
}

#goals-container {
  display: flex; /* Use flexbox to align the paragraph and image in a row */
  align-items: center; /* Align items vertically in the middle */
  margin-left: auto; /* Add left margin to create space on the left corner */
}

#left-aligned-paragraph {
  text-align: left; /* Left align the goals paragraph */
}

#goals-image {
  margin-left: 1rem; /* Add spacing between the paragraph and the image */
  max-width: 100%; /* Set max width for the image to fit within the container */
}

.section-m1 {
    margin: 40px 0;
}

  /* Mobile styles */
@media only screen and (max-width: 1320px) {
    #navbar {
      padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
  #navbar {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 900px) {
  /*Navigation/header */
  #navbar {
    display: block;
    cursor: pointer;
    z-index: 100;
  }
  #navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position:fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 150px;
    background-color: rgb(68,3,3);
    box-shadow: 0 40px 60px rgb(22, 22, 22);
    padding: 10px 0 0 5px;
    transition: 0.5s;

  }
  #navbar.active{
    right: 0px;
  }
  #navbar li{
    margin-bottom: 25px;
  }
  #close {
    position: absolute;
    align-items: center;
    font-size: 24px;
    color: white; /* Set the color to white */
    margin: 10px; /* Add margin for spacing */
  }
  
  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile i{
    color: #fefefe;
    font-size: 24px;
    padding-left: 20px;
  }
  
  .text {
    font-size: 24px;
  }
  .prev, .next {
    font-size: 24px;
    padding: 8px;
  }
}

/*Header End*/